        h2{
            margin-bottom: 3px; 
            color: orange;
        }
        .primera-oracion{
            margin-top: 5px;
        }
        .segunda-oracion{
            margin-left: 130px;
        }
        .tercera-oracion{
            margin-left: 135px;
        }
        .cuarta-oracion{
            margin-left: 40px;
        }
        .quinta-oracion{
            margin-left: 47px;
        }
        .sexta-oracion{
            margin-left: 93px;
        }
        .caja-perfil {
            display: grid;
            grid-template-columns: 500px 1fr;
            width: 600px;
            padding: 15px;
            display: block !important;  
            border: 1px solid black; 
            box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);  
            background-color: #f9f9f9; 
            font-family: Arial, sans-serif;
        }

        .imagen-perfil {
            height: 100%;              
            width: 100%;              
            object-fit: cover;
            border-radius: 50px 0 0 0;
        }

        .contenedor-perfil {
            display: grid;
            grid-template-columns: 150px 1fr; 
            gap: 3px; 
            max-width: 600px;
            margin: 20px auto;
        }

        .enlace-email {
            color: orange; 
            text-decoration: none;
        }
        .enlace-email:visited {
            color: red;
        }

        .enlace-email:hover {
            text-decoration: underline;
        }
        .parrafo-perfil {
            margin: 0;
        }

        * {
            box-sizing: border-box;
        }
        .cajita {
            width: 900px;
            margin: auto;
            padding-top: 20px; 
            background-color: white;
            align-items: center;
        }

        .titulo {
            font-size: 24px;
            font-weight: bold;
            color: white;
            text-align: center;
        }

        .titulo span {
            font-size: 14px;
        }

        .saludo {
            font-size: 14px;
            color: white;
            text-align: center;
        }

        section {
            padding: 20px;
        }

        .estudiante-list {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            margin: 0;
            padding: 0;
            justify-content: center; 
        }

        .estudiante-item {
            width: 180px;
            height: 180px;
            padding: 15px;
            box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
            background-color: #eaeef1bb;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start; 
            text-align: center;
            gap: 10px;
        }
        
        .estudiante-item img {
            width: auto;
            height: auto;
            max-height: 120px; 
            object-fit: contain; 
        }
        
        .estudiante-nombre {
            font-size: 18px;
            color: rgb(76, 146, 203);
            transition: all 0.4s ease;
            white-space: nowrap; 
        }
        

        .estudiante-item:hover {
            background-color: #99c5dd;
            transform: scale(1.05) rotate(3deg);
        }

        .estudiante-item:hover img {
            transform: scale(1) rotate(2deg);
            border-color: #99c5dd;
        }

        .estudiante-item:hover .estudiante-nombre {
            transform: scale(1.05);
        }

        footer {
            background-color: #9bbef2;
            text-align: center;
            font-size: 14px;
            padding: 10px;
        }

        header {
            width: 100%;
            background-color: #9bbef2;
            text-align: center;
        }
        nav ul {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;
            height: 45px;
            background-color: #a4c6f4; 
        }
        
        nav ul li {
            flex: 1; 
            display: flex;
            align-items: center;
            justify-content: center; 
            height: 100%;
            padding: 0 10px;
            border-left: 1px solid white;
        }
        
        nav ul li:first-child {
            border-left: none; 
        }

        button {
            color: #4d94ff;
            border: none;
            padding: 4.5px 13px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        form {
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 10px;
            place-items: center;
        }
      
        input[type="text"] {
            padding: 5px;
            font-size: 12px;
            width: 160px;
            border: none;
        }
      
        form:hover button {
            background-color: rgb(220, 244, 252);
        }

        @media (min-width: 320px) and (max-width: 480px){
            html {
                font-size: 14px;
            }
        }
        @media (min-width: 481px) and (max-width: 768px) {
            html {
                font-size: 15px;
            }
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            html {
                font-size: 16px;
            }
        }
        @media (min-width: 1025px) and (max-width: 1200px) {
            html {
                font-size: 17px;
            }
        }

        @media (max-width: 768px) {
            .imagen-perfil {
              content: url('CEDULAPequena.jpg');
              max-width: 480px;
            }
          }
    
          @media (min-width: 769px) {
            .imagen-perfil {
              content: url('CEDULAGrande.jpg');
              max-width: 720px;
            }
          }